body{
    background-color: rgb(219, 215, 215);
}

form{
    background: white;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 15px;
    margin-top: 50px;
}

h1{
    color: rgb(99, 99, 243);
}

#textBox{
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    margin-bottom: 10px;
    border: 2px solid hsla(0 0%, 0%, 0.8);
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: hsl(0, 100%, 40%);
}

p{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}